<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <!-- Custom error pages -->
    <customErrors mode="On" defaultRedirect="~/ErrorPages/error.aspx" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="~/ErrorPages/error403.aspx" />
      <error statusCode="404" redirect="~/ErrorPages/error404.aspx" />
      <error statusCode="500" redirect="~/ErrorPages/error500.aspx" />
    </customErrors>
  </system.web>
  
  <!-- Protect folders -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Authorisation/credentials.aspx" defaultUrl="inloggen.aspx">
        <credentials passwordFormat="Clear">
          <user name="rootadmin" password="test" />         
        </credentials>
      </forms>
    </authentication>
    <!-- Revoke general access -->
    <authorization>
      <allow users="rootadmin"/>
      <deny users="*"/>
      <deny users="?"/>
    </authorization>
    <trace enabled="true" localOnly="false" />
  </system.web>

  <!-- Allow access to all the webpages -->
  <location path="Pages">
    <system.web>
      <authorization>
        <allow users="?"/>
        <allow users ="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Add access to Images for anyone -->
  <location path="Image">
    <system.web>
      <authorization>
        <allow users="admin"/>
        <allow users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
</configuration>
